@model universidad1.Models.Inscripcion

<div class="container mt-4">
    <h2>Modificar Registro de Inscripción</h2>
    <hr />
    <form asp-action="Edit" method="post" class="shadow-sm p-4 border rounded border-warning border-top border-4 bg-light">
        <input type="hidden" asp-for="Id" />
        
        <div class="row">
            <div class="col-md-12 mb-3">
                <label class="form-label fw-bold">Alumno Inscrito</label>
                <select asp-for="AlumnoId" class="form-select" asp-items="ViewBag.Alumnos" required></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold">Cambiar de Carrera</label>
                <select asp-for="CarreraId" class="form-select" asp-items="ViewBag.Carreras" required></select>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold">Cambiar Periodo</label>
                <select asp-for="PeriodoId" class="form-select" asp-items="ViewBag.Periodos" required></select>
            </div>
        </div>
        <div class="mt-4 text-end">
            <a asp-action="Index" class="btn btn-secondary me-2">Cancelar</a>
            <button type="submit" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Guardar Cambios</button>
        </div>
    </form>
</div>