@model List<universidad1.Models.Inscripcion>

@{
    ViewData["Title"] = "Inscripciones Activas";
}

<div class="container mt-4">
    <h2>Registro de Inscripciones</h2>
    <hr />

    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>Folio</th>
                <th class="text-info">Alumno</th>
                <th class="text-warning">Carrera</th>
                <th class="text-success">Periodo</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || !Model.Any())
            {
                <tr><td colspan="4" class="text-center">No hay alumnos inscritos.</td></tr>
            }
            else
            {
                @foreach (var inscripcion in Model)
                {
                    <tr>
                        <td>@inscripcion.Id</td>
                        <td><strong>@inscripcion.NombreAlumno</strong></td>
                        <td>@inscripcion.NombreCarrera</td>
                        <td><span class="badge bg-primary">@inscripcion.ClavePeriodo</span></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>